body{
    
}

li{
    list-style:none;
}

.header-left{
    margin:0 30px;
}

header p{
    float:left;
    margin:10px;
}

.acounts{
    margin:20px 50px;
}

.acounts{
    float:right;
}

main{
    width:100%;
    padding-top:150px;
    text-align:center;
}

main h1{
    font-size:80px;
    margin-bottom:10px;
}

.search{
    display:block;
    border:1px solid rgb(129, 129, 129);
    width:500px;
    margin:0 auto;
    line-height:40px;
    border-radius:40px;
}

.search:hover{
    box-shadow:3px 3px rgb(231, 230, 230);
}

.searching {
    display:inline-block;
    padding:5px 10px;
    margin:20px 5px;
    background-color:rgb(219, 219, 219);
    cursor:pointer;
}

.footer-right{
    float:right;
    width:100%;
    background-color:rgb(218, 218, 218);
    line-height:40px;
}

.footer-right li{
    float:left;
}